body,
html {
    background-color: rgb(55, 56, 56);
}

.nazwa {
    text-align: center;
    color: white;
    font-family: 'Gluten', cursive;
    font-size: 30px;
}

.sponsor {
    width: 100%;
}

img {
    position: relative;
    left: 23%;
    top: 0%;
}

.menu {}

.sklep {}

.produkty {}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    border-right: 1px solid #bbb;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #04AA6D;
}