body,
html {
    background-color: rgb(55, 56, 56);
}


/* index */

.nazwa {
    text-align: center;
    color: white;
    font-family: 'Gluten', cursive;
    font-size: 30px;
}

.sponsor {
    width: 100%;
}


/* menu */

img {
    position: relative;
    left: 23%;
    top: 0%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    border-right: 1px solid #bbb;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #3cbabe;
}

.active {
    background-color: #3cbabe;
}


/* logowanie */

.logowanie {
    text-align: center;
    display: inline-block;
    position: absolute;
    top: 38%;
    right: 0px;
    bottom: 0px;
    left: -50px;
    margin: auto;
    color: white;
}

input[type=text],
[type=pasword] {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

input[type=text],
[type=pasword]:focus {
    border: 3px solid #555;
}


/* przycisk loogowania*/

.wrapper {
    display: block;
    position: absolute;
    top: 71%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button {
    text-decoration: none;
    text-align: center;
    color: #3cbabe;
    border: 2px solid #3cbabe;
    border-radius: 4px;
    position: relative;
    width: 150px;
    line-height: 40px;
    display: inline-block;
    font-family: Arial;
    font-weight: 600;
    overflow: hidden;
}

.button:before {
    content: "";
    background-color: rgba(255, 255, 255, 0.5);
    height: 100%;
    width: 40px;
    display: block;
    position: absolute;
    top: 0;
    left: -70px;
    transform: skewX(-45deg) translateX(0px);
    transition: none;
}

.button:hover {
    background-color: #3cbabe;
    color: #ffffff;
    border-bottom: 2px solid #319598;
}

.button:hover:before {
    transform: skewX(-45deg) translateX(250px);
    transition: all 0.4s ease-in;
}